<!DOCTYPE html>
<html>
  <head>
    <title>Project2Rides</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>is it fun?</h1>
    <p>
      <% if current_user %>
        Welcome, <%= current_user.name %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Log Out", session_path("dummy"), method: :delete %>
      <% else %>
        <%= link_to "Log In", login_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Sign Up", new_user_path%>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
