<div id="a-page">
<h3><%= @attraction.name %></h3>
<div id="a-image">
    <img src="<%= @attraction.ride_image %>">
</div>
<div>
    <%= @attraction.description %>
</div>

<div id="new-review">
<h5>Well? Was it fun? Write your review...</h5>
<%= form_for [@attraction, @review] do |f| %>
    <div class="field">
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>
    <div class="input-field col s12 m6 field">
        <select name="rating">
            <option value="" disabled selected>Rate this ride!</option>
            <option value="1">★</option>
            <option value="2">★★</option>
            <option value="3">★★★</option>
            <option value="4">★★★★</option>
            <option value="5">★★★★★</option>
        </select>
    </div>
    <p>Would you recommend this attraction?</p>
    <p class="field">
      <label>
        <input name="recommend" type="radio" value="true" />
        <span>Yes</span>
      </label>
      <label>
        <input name="recommend" type="radio" value="false" />
        <span>No</span>
      </label>
    </p>
    <button class="btn waves-effect waves-light" type="submit" name="action">
    Submit
    </button>
<% end %>
</div>
    <div id="all-reviews">
        <h3>REVIEWS</h3>
        <% @attraction.reviews.reverse.each do |review| %>
            <h4>
                "<%= review.recommend %>" - <%= review.user.name %> <%= review.user.created_at.strftime("%m/%d/%y") %>
                <%= link_to "Delete", review_path(review), method: "delete" if review.user == current_user %>
            </h4>
        <% end %>
    </div>
</div>